<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @twitter_user.username %>
</p>

<p>
  <b>Followers:</b>
  <%= @twitter_user.followers %>
</p>

<p>
  <b>Location:</b>
  <%= @twitter_user.location %>
</p>


<%= link_to 'Edit', edit_twitter_user_path(@twitter_user) %> |
<%= link_to 'Back', twitter_users_path %>
